<h1>Listing bios</h1>

<ul>
<% @bios.each do |bio| %>
  <li><a href="#<%= bio.id%> "><%= bio.position %> - <%= bio.name %></a></li>
<% end %>
</ul>

<% @bios.each do |bio| %>
  <div class="person">
    <div class="photo" style="float:left;margin-right: 5px;margin-bottom: 5px">
      <% if bio.photo.exists? then %>
      <%= image_tag bio.photo.url(:small) %>
      <% else %>
      <img src="images/no-bio.jpg"/>
      <% end %>
    </div>

    <div class="blurb">
      <b><a name="<%= bio.id %>"></a><%= bio.position%> - <%= bio.name %></b><br />
      <p><%= bio.description %></p>
    </div>

    <br clear="all"/>
    <div style="float:right">
      <%= link_to 'Show', bio %>
      <%= link_to 'Edit', edit_bio_path(bio) %>
      <%= link_to 'Destroy', bio, :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <hr color="00b1d9" size="3" width="500"/>
  </div>
<% end %>

<br />

<%= link_to 'New Bio', new_bio_path %>
