<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bio.name %>
</p>

<p>
  <b>Position:</b>
  <%= @bio.position %>
</p>

<p>
  <b>Photo:</b><% if @bio.photo.exists? then %>
	<%= image_tag @bio.photo.url(:small) %>
        <% end %>
</p>

<p>
  <b>Description:</b>
  <%= @bio.description %>
</p>


<%= link_to 'Edit', edit_bio_path(@bio) %> |
<%= link_to 'Back', bios_path %>
