<!-- WEEBLY_START_CONTENT -->
<div id='weebly_page_content_container'><div ><div id="384009772712099835-parent" class="weebly-splitpane-2" style="width: 100%;">
      <div id="384009772712099835-lhs" class="column" style="width: 81.7188%; float: left; overflow: visible; margin: 0; padding: 0;">
        <div style="padding-right: 5px;" class="columnlistp">
          <div  class="paragraph editable-text" style=" text-align: left; ">&nbsp; Look Forward to The Great Columbus Scavenger Hunt coming Oct. 2011<br /><span>&nbsp; </span>Our Most Recent Event Was<br /></div>


          <h2  style=" text-align: left; "><span style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @event.name %></span><br /></h2>
          <span class='imgPusher' style='float:right;height:0px'></span>
          <span style=' position: relative; z-index: 10; float: right; ;clear:right;margin-top:0px;*margin-top:0px'><a><img src="<%= @event.image %>" style="margin-top: 5px; margin-bottom: 10px; margin-left: 10px; margin-right: 0px; border-width:1px;padding:3px;" alt="Picture" class="galleryImageBorder" /></a>
            <div style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"></div>
          </span>
          <div  class="paragraph editable-text" style=" text-align: center; display: block; "><span></span>
            <br />
            <span></span>Where:&nbsp; <%= @event.location %>
            <br /><br />When:&nbsp; <%= @event.date %><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= @event.time_start.strftime('%r') + " - " + @event.time_end.strftime('%r')%><br />
            <br /><span></span><span style="font-weight: bold;"><%= @event.descripton %> </span>
            <br /></div>
          <hr  style=" clear: both; width: 100%; visibility: hidden; "></hr>


        </div>
      </div>
      <div id="384009772712099835-rhs" class="column" style="width: 17.2812%; left: 17.2812%; float: left; overflow: visible; margin: 0; padding: 0;">
        <div style="padding-left: 5px;" class="columnlistp">
          <div ><div id="146113487796548787-parent" class="weebly-splitpane-2" style="width: 100%;">
              <div id="146113487796548787-lhs" class="column" style="width: 9.63516%; float: left; overflow: visible; margin: 0; padding: 0;">
                <div style="padding-right: 5px;" class="columnlistp">
                  <div ><div id="153586604323543923" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><img src="/images/vline400.gif" WIDTH="1" HEIGHT="375" BORDER="0"></div>



                  </div>


                </div>
              </div>
              <div id="146113487796548787-rhs" class="column" style="width: 89.3649%; left: 89.3649%; float: left; overflow: visible; margin: 0; padding: 0;">
                <div style="padding-left: 5px;" class="columnlistp">
                  <div  class="paragraph editable-text" style=" text-align: center; "><br /><br /><br /><br /></div>

                  <div ><div id="400368779282257762" align="right" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                      <a href="http://www.twitter.com/cloudhaus"><img src="/images/twitter.png"></a><br></br><br><a href="http://www.facebook.com/cloudhausart"><img src="/images/facebookwow.png"></a></div>



                  </div>

                  <div  class="paragraph editable-text" style=" text-align: right; ">FOLLOW US!<br /></div>


                </div>
              </div>



            </div>

            <div style="clear: both; visibility: hidden; height: 0px; overflow: hidden;"></div></div>


        </div>
      </div>



    </div>

    <div style="clear: both; visibility: hidden; height: 0px; overflow: hidden;"></div></div>

  <div ><div id="400976457699501843" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><img src="/images/hline500.gif" WIDTH="600" HEIGHT="1" BORDER="0"></div>



  </div>

  <div  class="paragraph editable-text" style=" text-align: justify; "><span></span><br /><span></span><font size="2"><font style="color: rgb(51, 51, 51);" size="4"><span style="font-weight: bold;">CLOUDHAUS</span></font> is a non-profit, volunteer group of creative individuals who work together to foster a deeper appreciation of art in Columbus, Ohio and beyond.  We plan,
      sponsor, and participate in community-building events that promote and facilitate the creation of art. Whenever possible, these activities also include humanitarian goals to raise money for specifically targeted local charities.&nbsp;    </font></div>

</div>