<p id="notice"><%= notice %></p>

<div class="events">
  <%= render :partial => "events/event", :locals => { :event => @event } %>
</div>

<%
client = GData::Client::Photos.new
# Get users albums
#  feed = client.get('https://picasaweb.google.com/data/feed/api/user/arndt85').to_xml
# #https://picasaweb.google.com/data/entry/api/user/Arndt85/albumid/5579132685303810961
# Get Love Cloudhaus album
#feed = client.get('https://picasaweb.google.com/data/feed/api/user/Arndt85/albumid/5579132685303810961').to_xml
#album = 'https://picasaweb.google.com/data/entry/api/user/Arndt85/albumid/5579132685303810961'
url = "https://picasaweb.google.com/data/feed/api/user/Arndt85/albumid/5579132685303810961"
params = "?v=2.0&fields=entry(title,media:group(media:thumbnail))&thumbsize=288c"

feed = client.get(url+params).to_xml
#entry(
#     title,
#     gphoto:numphotos,
#     media:group(media:thumbnail),
#     link[@rel='http://schemas.google.com/g/2005#feed'](@href)
#     )").to_xml
%>
<div class="gallery">
  <%
  feed.elements.each('entry') do |entry| %>
    <div class="entry">
      <% entry.elements['media:group(media:thumbnail)'].each() do |thumb| %>
        <div class="photo">
          <img src="<%= thumb.attribute('url').value %>"/>
        </div>
      <% end %>
      <div class="title"><%= entry.elements['title'].text %></div>
    </div>
  <% end %>
</div>

<br clear="all"/>
<div class="actions">
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>