<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Descripton:</b>
  <%= @event.descripton %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Time start:</b>
  <%= @event.time_start.strftime('%r')%>
</p>

<p>
  <b>Time end:</b>
  <%= @event.time_end.strftime('%r') %>
</p>

<p>
  <b>Photo:</b>
  <% if @event.photo.exists? then %>
   <%= image_tag @event.photo.url(:small) %>
  <% end %>  
</p>

<%
client = GData::Client::Photos.new
# Get users albums
#  feed = client.get('https://picasaweb.google.com/data/feed/api/user/arndt85').to_xml
# #https://picasaweb.google.com/data/entry/api/user/Arndt85/albumid/5579132685303810961
# Get Love Cloudhaus album
#feed = client.get('https://picasaweb.google.com/data/feed/api/user/Arndt85/albumid/5579132685303810961').to_xml
#album = 'https://picasaweb.google.com/data/entry/api/user/Arndt85/albumid/5579132685303810961'
url = "https://picasaweb.google.com/data/feed/api/user/Arndt85/albumid/5579132685303810961?v=2.0&fields=entry(title,media:group(media:thumbnail))"
feed = client.get(url).to_xml
#entry(
#     title,
#     gphoto:numphotos,
#     media:group(media:thumbnail),
#     link[@rel='http://schemas.google.com/g/2005#feed'](@href)
#     )").to_xml
%>
<table>
  <tr>
    <th>Title</th>
    <th>thumbs</th>
  </tr>
<%
feed.elements.each('entry') do |entry| %>
  <tr>
    <!-- <%= entry %> -->
    <td><%= entry.elements['title'].text %></td>
    <% entry.elements['media:group(media:thumbnail)'].each() do |thumb| %>
      <td><img src="<%= thumb.attribute('url').value %>"/></td>
    <% end %>
  </tr>

  <%

  # Extract the href value from each <atom:link>
  links = {}
  entry.elements.each('link') do |link|
    links[link.attribute('rel').value] = link.attribute('href').value
  end
  puts links.to_s
end
%>

</table>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
